<div class="container">
  <div class="row">
    <article class="col l6 s12">
      <h5 class="center white-text">DiscGoRound</h5>
      <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque, deleniti! Quam eaque hic eum aliquam, deserunt, ex, obcaecati nisi consectetur vero esse unde. Dolorem, rerum. Aperiam nobis sint aut soluta.</p>
      <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quaerat magni porro odio, nesciunt, veritatis dicta fugiat nulla alias.</p>
    </article>
    <article class="col l6 s12">
      <h5 class="center white-text">Empresas colaboradoras</h5>
      <div class="col s12 m4">
      	<a href="">
      		<img src="img/footer1.jpg" />
      	</a>
      	<a href="http://www.genebre.es/es/inicio">
					<img src="img/footer2.jpg" />
      	</a>
      </div>
      <div class="col s12 m4">
      	<a href="">
					<img src="img/footer3.jpg" />
				</a>
				<a href="">
					<img src="img/footer4.jpg" />
				</a>
      </div>
      <div class="col s12 m4">
      	<a href="">
					<img src="img/footer5.png" />
				</a>
				<a href="">
					<img src="img/footer6.jpg" />
				</a>
      </div>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  Made by <a class="made brown-text text-lighten-3" href="http://materializecss.com">Cristina Torrejón | Alejandro Martín</a>
  </div>
</div>